body, window {
    overflow: hidden;
}

.margin-top-1em {
    margin-top: 1em;
}


md-toolbar[msw-top-bar],
md-toolbar[msw-top-bar] .toolbar-button,
md-toolbar[msw-bottom-bar],
md-toolbar[msw-bottom-bar] .toolbar-button,
md-sidenav[msw-navigation],
md-sidenav[msw-navigation] .md-button{
    min-height: inherit;
}

md-toolbar[msw-top-bar] .toolbar-button {
    margin: 0 -0.4em;
    padding: 0 1em;

    width: auto;
    min-width: inherit;
    line-height: 3em;
    border-radius: 1px;
}

md-toolbar[msw-bottom-bar] .toolbar-button {
    margin: 0;
    padding: 0 1em;

    width: auto;
    min-width: inherit;
    font-size: 0.55em;
    line-height: 3em;
    border-radius: 1px;
}


.msw-button-active-dashboard {
    font-weight: bold !important;
}


msw-component {
    transform: translate3d(100%, 0, 0);
}