<!--{{ctrl.dashboards}}-->

<div
    ng-cloak
    ng-repeat="dashboard in ctrl.dashboards track by $index"
    ng-if="dashboard.isActive ">

  <section
      layout="column"
      md-theme="altTheme"
      class="msw-dashboard-placeholder">
    <h4 class="msw-title" layout-padding>
      {{dashboard.name}}
    </h4>
    <md-content
        layout-padding
        flex="{{ctrl.col1}}"
        class="msw-dashboard-grid msw-overflow-auto">

      <div msw-component
          ng-repeat="component in dashboard.components track by $index"
          directive-name="component.directiveName"
          ng-if="component.type === 'grid'">
      </div>

      <div style="height: 2000px;"></div>
    </md-content>

    <h4 ng-if="ctrl.col2" layout-padding>
      Label
    </h4>
    <div md-theme="altTheme" class="msw-dashboard-view msw-overflow-auto" flex="{{ctrl.col2}}">
      <ui-view></ui-view>
    </div>
  </section>

  <div class="msw-dashboard-window">
    <msw-component
        ng-repeat="component in dashboard.components track by $index"
        directive-name="component.directiveName"
        ng-if="dashboard.type === 'window'">
    </msw-component>
  </div>

</div>

<style>
  msw-dashboard, msw-dashboard > div, .msw-dashboard-placeholder {
    height: 100%;
  }

  .msw-dashboard-placeholder h4 {
    padding-top: .25em;
    padding-bottom: .25em;
  }

  msw-dashboard ui-view, .msw-overflow-auto {
    overflow: auto;
  }

  .msw-dashboard-window {
    position: fixed;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    z-index: 99999;
    background: red;
  }

  .msw-dashboard-grid, .msw-dashboard-view {
    border-top: 1px solid lightgray;
  }

  msw-component, div[msw-component] {
    padding: 0;
  }

  .padding-0 {
    padding: 0 !important;
  }

  .padding-bottom-0 {
    padding-bottom: 0;
  };
</style>